body {
  margin: 0%;
  padding: 0%;
  background-color: #e0ecf2;
  font-family: "Istok Web", "sans-serif";
}

/* Links */
a {
  display: block;
  text-align: center;
  padding: 16px;
  margin-right: 20px;
  font-size: 16pt;
  text-decoration: none;
  color: #000000;
}

.blueLink {
  color: #ffffff;
  background-color: #479cff;
  border: solid 1px #479cff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a:hover {
  color: #ffffff;
  background-color: #479cff;
  transition: 500ms;
}

.blueLink:hover {
  color: #479cff;
  background-color: #ffffff;
  transition: 500ms;
}

/* Text */
h1 {
  font-size: 28pt;
}

h2 {
  font-family: "Istok Web";
  font-size: 24pt;
}

p {
  font-size: 14pt;
}

/* Objets */
.line {
  margin: 50px 0px 50px 0px;
  width: 80%;
  border-bottom: solid 1px #bbbbbb;
}

.banner {
  width: 99vw;
  height: 60vh;
  opacity: 80%;
}

.groupBox {
  margin: 20px 0px 10vh 1vw;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Navigation */
nav {
  position: fixed;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;
  width: 100vw;
  height: 10vh;
}

nav img {
  margin-left: 20px;
  width: 20vw;
}

nav ul {
  margin: 0%;
  padding: 0%;
  display: flex;

  list-style-type: none;
}

/* SelectSwimmingPool */
.SelectSwimmingPool {
  margin: 0%;
  padding: 0%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.SelectSwimmingPool .SwimmingPool--Pool {
  width: 30vw;
  margin: 40px;
}

.SelectSwimmingPool .SwimmingPool--Img {
  width: 100%;
  height: 80%;
  opacity: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.SelectSwimmingPool .SwimmingPool--Name {
  font-family: "Istok Web";
  font-size: 24pt;

  visibility: hidden;
  text-align: center;
}

.SwimmingPool--Img:hover+.SwimmingPool--Name {
  visibility: visible;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  transition: 500ms;
}

.SwimmingPool--Img:hover {
  box-shadow: none;
}

/* FocusSwimmingPool */
.groupBox h1 {
  width: 100%;
  border-bottom: solid 1px #bbbbbb;
  text-align: center;
}

.groupBox div {
  display: flex;
  width: 100%;
  height: 100%;
}

.groupBox .info {
  width: 60%;
  margin: 0px 10px 0px 20px;
}

.groupBox img {
  padding: 10px 20px 10px 20px;

  width: 40%;
  border-left: solid 1px #bbbbbb;
}

.groupBox a {
  margin: 40px 0px 20px 0px;
}

/*CheckCodeSwimmingPool */
.CheckCodeSwimmingPool {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  margin-top: 14vh;
  margin-left: 10%;
  padding-bottom: 20px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CheckCodeSwimmingPool h2 {
  text-align: center;
}

.CheckCodeSwimmingPool input {
  width: 600px;
  height: 50px;

  text-align: center;
  font-size: 16pt;
}

.CheckCodeSwimmingPool button {
  margin-top: 20px;
  width: 20%;
  height: 60px;

  color: #ffffff;
  background-color: #479cff;
  border: solid 1px #479cff;

  font-family: "Istok Web";
  font-size: 16pt;
}

.CheckCodeSwimmingPool button:hover {
  color: #479cff;
  background-color: #ffffff;
}

/* CodeInformation  */
/*

.CodeInformation {
  margin: 12vh 0px 0px 12vw;
  width: 80vw;
}

.CodeInformation .groupBox {
  margin: 20px 0px 0px 0px;
}

.CodeInformation .groupBox div {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

.CodeInformation .groupBox li {
  list-style: none;
}

.CodeInformation .blueLink {
  padding: 20px 20px 20px 20px;
}
*/

/* BookingPage */

.BookingPage {
  margin: 12vh 0px 0px 10vw;
  width: 80vw;
}

.BookingPage .groupBox div {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

.BookingPage .groupBox li {
  list-style: none;
  width: 40vw;
  margin-bottom: 10px;
}

.BookingPage .groupBox div li button {
  padding: 20px 20px 20px 20px;
}

/*   TESTS CLAIRE   */

main {
  min-height: 80vh;
  width: 70vw;
  margin: auto;
  margin-top: 10vh;
  background-color: #ffffff;
  padding: 30px;
}

#mainHome {
  width: 100%;
  padding: 0px;
}

#divPaymentSelect form {
  display: flex;
  justify-content: center;
}

.btnPayment {
  background-color: #ffffff;
  height: 100px;
  width: 250px;
  margin: 10px;
  font-size: 1.4em;
  border-radius: 10px;
  border-width: 2px;
  border-color: #051a24;
}

.divInvisible {
  display: none;
}

.divVisible {
  display: block;
}

.a-nostyle {
  text-decoration: none;
}

.a-nostyle:hover {
  background: none;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #000000;
}

footer a {
  font-size: 0.8em;
}

.white-font {
  color: #ffffff;
}

.adminIcon {
  width: 20px;
  height: 20px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}

#divCart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
}

#divPayment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
}

.divPaymentOption {
  margin: 20px 0px;
}

.divCartProduct {
  margin-bottom: 30px;
  padding: 15px 15px;
  margin-right: 25px;
  border-style: ridge;
  border-width: 2px;
  border-color: #7db5cf;
}

#divCartAside {
  margin-bottom: 30px;
  padding: 15px;
  border-style: ridge;
  border-width: 2px;
  border-color: #051a24;
  min-width: 20vw;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.alignRight {
  display: flex;
  justify-content: right;
}

.dispColumn {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

#adminAction {
  background-color: #bbbbbb;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.btnSmall {
  border-width: 0px;
  height: 40px;
  width: 100px;
  margin: 10px;
  font-size: 1.1em;
}

.btnClicked {
  background-color: #e9f0f4;
}

.btnNotClicked {
  background-color: #ffffff;
}

.btnSmall:hover {
  background-color: #e9f0f4;
}

.colDiv {
  display: flex;
  justify-content: center;
}

.vDiv {
  display: flex;
  flex-direction: column;
}

.divAlignLeft {
  justify-items: flex-start;
  justify-content: left;
  justify-self: left;
}

.divAlignRight {
  justify-items: flex-end;
}

label {
  line-height: 30px;
  font-size: 1.2em;
  color: #041a26;
  text-align-last: right;
  padding: 5px;
  margin: 5px;
}

.lblChkbox {
  text-align-last: left;
}

input {
  font-family: "Istok Web";
}

input[type=text],
input[type=password] {
  line-height: 30px;
  font-size: 1.2em;
  color: #041a26;
  justify-items: right;
  padding: 5px;
  margin: 4px;
  border-style: inset;
  border-width: 2px;
  border-color: #051a24;
}

input[type="submit"] {
  font-size: 1.3em;
  margin-top: 20px;
  height: 50px;
  padding: 10px;
  min-width: 70px;
  width: fit-content;
  background-color: #479cff;
  color: #ffffff;
  border: none;
}

input[type="Submit"]:hover {
  background-color: #387bc8;
}

input:focus {
  outline: none;
}

input[readonly] {
  background-color: #c9c9c9;
  color: rgb(46, 46, 46);
}

.txtDescription {
  min-width: 35vw;
}