body {
  margin: 0%;
  padding: 0%;
  background-color: #e0ecf2;
}

/* Links */
a {
  display: block;
  text-align: center;
  padding: 16px;
  margin-right: 20px;

  font-family: "Istok Web";
  font-size: 16pt;
  text-decoration: none;
  color: #000000;
}

.blueLink {
  color: #ffffff;
  background-color: #479cff;
  border: solid 1px #479cff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a:hover {
  color: #ffffff;
  background-color: #479cff;
  transition: 500ms;
}

.blueLink:hover {
  color: #479cff;
  background-color: #ffffff;
  transition: 500ms;
}

/* Text */
h1 {
  font-size: 28pt;
}

h2 {
  font-family: "Istok Web";
  font-size: 24pt;
}

p {
  font-size: 14pt;
}

/* Objets */
.line {
  margin: 50px 0px 50px 0px;
  width: 80%;
  border-bottom: solid 1px #bbbbbb;
}

.banner {
  width: 99vw;
  height: 60vh;
  opacity: 80%;
}

.groupBox {
  margin: 20px 0px 10vh 10vw;
  padding-bottom: 20px;

  width: 80vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Navigation */
nav {
  position: fixed;
  top: 0;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;
  width: 100vw;
  height: 10vh;
}

nav img {
  margin-left: 20px;
  width: 20vw;
}

nav ul {
  margin: 0%;
  padding: 0%;
  display: flex;

  list-style-type: none;
}

/* SelectSwimmingPool */
.SelectSwimmingPool {
  margin: 0%;
  padding: 0%;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.SelectSwimmingPool .SwimmingPool--Pool {
  width: 30vw;
  margin: 40px;
}

.SelectSwimmingPool .SwimmingPool--Img {
  width: 100%;
  height: 80%;
  opacity: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.SelectSwimmingPool .SwimmingPool--Name {
  font-family: "Istok Web";
  font-size: 24pt;

  visibility: hidden;
  text-align: center;
}

.SwimmingPool--Img:hover + .SwimmingPool--Name {
  visibility: visible;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  transition: 500ms;
}

.SwimmingPool--Img:hover {
  box-shadow: none;
}

/* FocusSwimmingPool */
.groupBox h1 {
  width: 100%;
  border-bottom: solid 1px #bbbbbb;
  text-align: center;
}

.groupBox div {
  display: flex;
  width: 100%;
  height: 100%;
}

.groupBox .info {
  width: 60%;
  margin: 0px 10px 0px 20px;
}

.groupBox img {
  padding: 10px 20px 10px 20px;

  width: 40%;
  border-left: solid 1px #bbbbbb;
}

.groupBox a {
  margin: 40px 0px 20px 0px;
}

/*CheckCodeSwimmingPool */
.CheckCodeSwimmingPool {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  margin-top: 14vh;
  margin-left: 10%;
  padding-bottom: 20px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.CheckCodeSwimmingPool h2 {
  text-align: center;
}

.CheckCodeSwimmingPool input {
  width: 600px;
  height: 50px;

  text-align: center;
  font-size: 16pt;
}

.CheckCodeSwimmingPool button {
  margin-top: 20px;
  width: 20%;
  height: 60px;

  color: #ffffff;
  background-color: #479cff;
  border: solid 1px #479cff;

  font-family: "Istok Web";
  font-size: 16pt;
}

.CheckCodeSwimmingPool button:hover {
  color: #479cff;
  background-color: #ffffff;
}

/* CodeInformation  */
.CodeInformation {
  margin: 12vh 0px 0px 0px;
}

.CodeInformation .groupBox {
  margin: 20px 0px 0px 10vw;
}

.CodeInformation .groupBox div {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

.CodeInformation .groupBox li {
  list-style: none;
}

.CodeInformation .blueLink {
  padding: 20px 20px 20px 20px;
}

/* BookingPage */

.BookingPage {
  margin: 12vh 0px 0px 0px;
}

.BookingPage .groupBox div {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}

.BookingPage .groupBox li {
  list-style: none;
  width: 40vw;
  margin-bottom: 10px;
}

.BookingPage .groupBox div li button {
  padding: 20px 20px 20px 20px;
}

/*   TESTS CLAIRE   */

main {
  min-height: 80vh;
  width: 70vw;
  margin: auto;
  margin-top: 10vh;
  background-color: #ffffff;
  padding: 15px;
}

#mainHome {
  width: 100%;
  padding: 0px;
}

#CB--div {
  display: none;
}

#PayPal--div {
  display: none;
}

.a-nostyle {
  text-decoration: none;
}

.a-nostyle:hover {
  background: none;
}

footer {
  background-color: #000000;
}

.white-font {
  color: #ffffff;
}

.adminIcon {
  width: 20px;
  height: 20px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}
