body {
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0%;
    background-image: url("img/fondSite.jpg");
}

header {
    width: 100%;
    height: 4%;

    position: fixed;
   
    padding-left: 1%;
    padding-right:1% ;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    border-bottom: 0.3vh solid black;
}
#logoPiscine {
  width: 1.5%;
}
.navBarre {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.navBarre__item{
    margin-right: 10vh;
}

.navBarre a:link {
    text-decoration: none;
    font-family: cursive;
}
.navBarre a:visited {
    color: black;
}

.choixPiscine {
    width: auto;
    padding-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.choixPiscine__img {
    display: flex;
    align-items: center;
    justify-content: center; 
}
.choixPiscine__img img{
    margin-right: 1%;
}
.choixPiscine__img--item1 {
  width: 58%;
  height: 500px;
}
.choixPiscine__img--item2 {
    width: 20%;
    height: 500px;
  }
  .choixPiscine__img--item3 {
    width: 20%;
    height: 500px;
  }
  .InfoPiscine{
    width: auto;
    height: 600px;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;  

    border: 0.3vh solid black;
    background-color: white;
  }
    .InfoPiscine__description {
      display: flex;
      width: 100%;
    }
    .InfoPiscine__description--article {
      width: 60%;
    }
    .InfoPiscine__description--plan {
      width: 40%;
    }
  footer {
    width: auto;
    height: 200px;
    margin-top: 2%;
    border-top: 0.3vh solid black;
  }